* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  /* width: 98vw; */
}

#navImg {
  width: 100px;
  height: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  height: 80px;
  padding: 15px 50px;
  list-style: none;
  border-bottom: 2px dashed grey;
  background-color: rgb(17, 14, 14);
  width: 100vw;
}

.navbar li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  text-decoration: none;
  color: brown;
  font-weight: 700;
  margin: 0 60px;
  font-size: 1.3rem;
}

.active-link {
  color: rgb(32, 151, 116);
  margin: 0 80px;
  font-size: 1.3rem;
}

#navInput {
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: rgb(189, 150, 150);
  font-weight: 500;
}

.toggleBtn {
  position: fixed;
  top: 500px;
  left: 1400px;
  outline: none;
  color: burlywood;
  font-size: 2rem;
  cursor: pointer;
  background-color: rgb(66, 16, 16);
  border-radius: 50px;
  padding: 5px;
  width: 50px;
  height: 50px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}

.article {
  margin-top: 20px;
  width: 950px;
  /* background-color: rgb(134, 132, 132); */
  /* background-color: black; */
  -webkit-box-shadow: 4px 13px 36px -2px rgba(46, 74, 117, 1);
  -moz-box-shadow: 4px 13px 36px -2px rgba(46, 74, 117, 1);
  /* box-shadow: 4px 13px 36px -2px rgba(46, 74, 117, 1); */
  box-shadow: 2px 2px 15px -2px rgb(118, 138, 168);
  height: auto;
  padding: 50px;
  border-radius: 12px;
  font-family: "Merriweather", serif;
}

.first {
  display: flex;
   margin-bottom: 25px;
}

.title {
  padding: 25px;
  text-align: center;
  margin-top: 20px;
  text-transform: capitalize;
}

.article h3 {
  margin: 10px 5px;
}

.article a {
  margin-left: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px 10px;
  color: white;
  /* background-color: rgb(61, 0, 227); */
  background-color: rgb(3, 84, 90);
  border: none;
  border-radius: 20px;
}

#img {
  display: inline;
  width: 350px;
  height: 200px;
  border-radius: 20px;
}

.desc {
  margin: 20px 0px;
}

#author {
  color: rgb(36, 27, 68);
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

#like {
  color: blue;
  font-size: 2rem;
  cursor: pointer;
}

#commentInput,
#commentBtn {
  background-color: inherit;
  border: 1px solid green;
  color: rgb(180, 24, 24);
  border-radius: 5px;
  font-size: 1.5rem;
  outline: none;
  padding: 5px;
}

#commentInput{
  width: 92.5%;
}

#commentBtn {
  margin-left: 2px;
  cursor: pointer;
}

#commentOutput {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

.comment {
  color: cornflowerblue;
  font-size: 1.5rem;
}

.dlt-cmnt-btn{
  border: none;
  color: #bfeaf5;
  background-color: rgb(80, 26, 8);
  padding: 5px;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
}

#dltBtn {
  background-color: inherit;
  border: none;
  color: maroon;
  font-size: 2rem;
  cursor: pointer;
}

.footer {
  background-color: rgb(29, 2, 2);
  color: rgb(45, 82, 95);
  text-align: center;
  padding: 10px;
  font-weight: 800;
  margin-top: 50px;
}

#copyright {
  color: chocolate;
}

/* Headlines */

.headlines {
  margin-top: 100px;
}

.headlines-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.headlines-container p {
  font-size: 2rem;
  color: rgb(116, 20, 20);
  margin-right: 10px;
}

#headlinesImg {
  height: 100px;
  width: 150px;
}

.headlines-container h4 {
  margin-left: 10px;
  color: rgb(87, 65, 5);
}

/* About */

.aboutContainer {
  display: flex;
  margin: 80px 20px;
  padding: 30px 0;
  border-top: 2px dotted grey;
  border-bottom: 2px dotted grey;
  margin-top: 160px;
}

.aboutContainer p {
  margin-left: 10px;
  font-size: 1.5rem;
}

/* Contact */

.contact {
  display: flex;
  justify-content: space-between;
  margin: 80px 50px;
  padding: 30px 0;
  color: rgb(24, 24, 24);
  border-top: 2px dotted grey;
  border-bottom: 2px dotted grey;
  margin-top: 160px;
}

.innerDiv {
  width: 300px;
}

.contactHead {
  margin-bottom: 20px;
  color: brown;
}

.innerDiv h4 {
  margin: 5px 0;
  color: darkolivegreen;
}

.thirdDiv h4 {
  display: inline-block;
}

/* Loader */

.loader {
  text-align: center;
}
